* {
	text-align: center;
}

.labels {
	-webkit-transform: rotate(270deg);
	text-align: left;
}

.time_intervals { 
	background-color: #69E7E8;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	text-align: right;
}

.stations {
	background-color: #80FFB6;
}

.places_devices {
	background-color: #84E869;
}

.selected {
	background-color: #F7FF73;
}

.cell_padding {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

table {
	border-collapse:collapse;
	margin-right: 10px;
}

table, th, td {
	border: 1px solid black;
}
